<article class="articleListSmall__item">
                <a class="articleListSmall__image" href="{{ url(article) }}"><img src="{{ asset('theme/img/article_img/90x90.png') }}"></a>
                <h4 class="articleListSmall__headline"><a href="#">{{article.title}}</a></h4>
                <div class="articleMetadata">
                  <span class="articleMetadata__byline">by <a href="#">{{article.metadata.byline}}</a></span>
                </div>
              </article>