<div class="accordion {{class}}">
  <div class="accordion__section">
    <a class="accordion__sectionTitle active" href="#accordion-1">Most read</a>
    <div id="accordion-1" class="accordion__sectionContent">
      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>
    </div>
  </div>

  <div class="accordion__section">
    <a class="accordion__sectionTitle" href="#accordion-2">Most commented</a>
    <div id="accordion-2" class="accordion__sectionContent">
      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>
    </div>
  </div>

  <div class="accordion__section">
    <a class="accordion__sectionTitle" href="#accordion-3">Most shared</a>
    <div id="accordion-3" class="accordion__sectionContent">
      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>

      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
      </article>
    </div>
  </div>
</div>
