<div class="editorialComment {{class}}">
  <h3 class="editorialComment__headline">Selected comment</h3>
  <blockquote>
    <p>Local innovation and initiative can help us better understand how to protect our environment.</p>
    <footer>
      <cite>
        <span class="editorialComment__name">- Gale Norton</span>
        <span class="editorialComment__article">on <a href="#">Some article name</a></span>
      </cite>
    </footer>
  </blockquote>
</div>
