{% extends 'base.html.twig' %}

{% block body %}

  <main class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12 col-xs-12">

        {% gimme author with { slug: app.request.attributes.get('authorSlug') } %}
        {% set currentAuthor = author %} 

        <div class="authorMetadata marginTop30 marginBottom30">       
          <figure class="authorMetadata__image"><img src="{{ url(author.avatar) }}"></figure>
          <div class="authorMetadata__infoWrap">
            <h2>{{ author.name }}</h2>
            <p>{{ author.biography }}</p>
            <span id="articlesNo"></span>
          </div>
        </div>

        {% endgimme %}

        <div class="row">
          <div class="articleGrid row">

    {% gimmelist article from articles|order('publishedAt','desc') with { 'author': currentAuthor.name, 'route' : 'Authors' } ignoreContext %}
    
        {% include 'partials/articleGrid__item.html.twig' with {'class' : 'articleGrid__item--threeColumns col-md-4 col-sm-6 col-xs-12'} %}

    {% if loop.last %}
    <script type="text/javascript">
      document.getElementById("articlesNo").innerHTML = "{{ loop.length }} articles";
    </script>
    {% endif %}

    {% endgimmelist %} 

          </div>    
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-3">

        {% include 'elements/most.html.twig' with {'class' : 'marginBottom30'} %}

      </div>
    </div>
  </main>

{% endblock %}
