{% extends 'base.html.twig' %}

{% block body %}

  <main class="container">
    <div class="row">

      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="sectionHeadingBold marginTop10 noBorder">{{ gimme.route.name|capitalize }}</h3>
          </div>
        </div>

        {# Setup list and pagination parameters #}
            {% set defaultItemsPerPage, itemsPerPage, currentPage = 9, 9, app.request.get('page', 1) %}

            {% set start = ((currentPage-1) * itemsPerPage) +1 %}

              {% if currentPage == 1 %}
                  {% set itemsPerPage = 10 %}
                    {% set start = 0 %}
              {% endif %}



            {# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}
            
              {% gimmelist article from articles|start(start)|limit(itemsPerPage)|order('publishedAt','desc') %}


            {% if loop.first and currentPage == 1 %}

              {% include 'partials/mainArticle.html.twig' with {'class' : ''} %}

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                  <div class="articleGrid row">
            {% else %}

              {% if loop.first %}

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="articleGrid row">

              {% endif %}

              {% include 'partials/articleGrid__item.html.twig' with {'class' : 'articleGrid__item--threeColumns col-md-4 col-sm-6 col-xs-12'} %}

            {% endif %}
                {# Render pagination only at end of list #}
                {% if loop.last  %}
                    </div>
                  </div>


                    {#
                        Use provided by default pagination template

                         Parameters:
                         * currentFilters (array) : associative array that contains the current route-arguments
                         * currentPage (int) : the current page you are in
                         * paginationPath (Meta|string) : the route name (or supported by router Meta object) to use for links
                         * lastPage (int) : represents the total number of existing pages
                         * showAlwaysFirstAndLast (bool) : Always show first and last link (just disabled)
                     #}
                     {% include 'partials/pagination.html.twig' with {
                         currentFilters: {}|merge(app.request.query.all()),
                         currentPage: currentPage,
                         paginationPath: gimme.route,
                         lastPage: (loop.totalLength/defaultItemsPerPage)|round()
                     } only %}

                 {% endif %}

             {% endgimmelist %}

        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3">

        {% include 'elements/most.html.twig' with {'class' : 'marginBottom30'} %}

        {% container 'frontSidebar' %}

        {% endcontainer %}

      </div>
    </div>

  </main>


{% endblock %}
