
{% extends 'base.html.twig' %}

{% block body %}

	<main class="container">
		<div class="row">
			<div class="article article--noMargin col-md-9 col-sm-12 col-xs-12">

				<gcse:searchresults-only></gcse:searchresults-only>

			</div>
		</div>
	</main>

{% endblock %}
