.button
  font-family: $fontRegular
  font-size: 1.6rem
  color: $colorDark
  font-weight: 600
  font-style: normal
  text-align: center
  text-transform: uppercase
  padding: 10px 20px
  border: 1px solid $colorDark
  display: block
  background: transparent
  width: 100%
  &--blue
    color: $colorWhite
    background: $colorTheme
    border: none